AllowShortIfStatementsOnASingleLine: true
BasedOnStyle:                        WebKit
Cpp11BracedListStyle:                true
NamespaceIndentation:                All
Standard:                            Cpp11
